{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.circle {
			border-radius: 50%
		}
		.row {
			width: 100%;
		}
		.quarter {
			float: left;
			width: 33.333333%;
		}
		.padding-64 {
			padding-top: 64px !important;
			padding-bottom: 64px !important
		}
		.center {
			text-align: center !important
		}
	</style>
	<!-- Image Header -->
	<div class="display-container animate-opacity">
		<img src="{{ asset('images/samsung.jpg') }}" alt="Image header" style="width:100%">
	</div>
	<!-- Team Container -->
	<div class="container padding-64 center">
		<h2>OUR TEAM</h2>
		<p>Meet the team - our office rats:</p>

		<div class="row">
			<div class="quarter">
				<img src="{{ asset('team/profile.png') }}" alt="Boss" style="width:25%" class="circle">
				<h3>Thanh Phong</h3>
				<p>Web Designer</p>
			</div>

			<div class="quarter">
				<img src="{{ asset('team/profile.png') }}" alt="Boss" style="width:25%" class="circle">
				<h3>Gia Khanh</h3>
				<p>Web Designer</p>
			</div>

			<div class="quarter">
				<img src="{{ asset('team/profile.png') }}" alt="Boss" style="width:25%" class="circle">
				<h3>Minh Quan</h3>
				<p>Web Designer</p>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="container padding-32 theme-d1 center">
		<h4>Follow Us</h4>
		<a class="text-decoration-none" href="" title="Facebook">
			<img src="{{ asset('button/facebook.png')}}" width="50px" height="50px">
		</a>
		<a class="text-decoration-none" href="" title="Twitter">
			<img src="{{ asset('button/instagram.png')}}" width="50px" height="50px">
		</a>
		<a class="text-decoration-none" href="" title="Instagram">
			<img src="{{ asset('button/twitter.png')}}" width="50px" height="50px">
		</a>
		<p>Copyright</p>
	</footer>
{% endblock %}
