{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6 mt-3 mb-3">
   <h2 class="text-center">ADD NEW CATEGORY</h2>
   <div class="col md-6"></div>
      {{ form_start (categoryForm) }}
         <div class="form-group">
            {{ form_label (categoryForm.name)}}
            {{ form_widget (categoryForm.name ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (categoryForm.description)}}
            {{ form_widget (categoryForm.description ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
      <div class="form-group text-center mt-3">
         <input class="btn btn-primary" type="submit" value="Add" />
      </div>
      {{ form_end (categoryForm)}}
   </div>
</div>
{% endblock %}
