{% extends "base.html.twig" %}

{% block body %}
    <div class="container col-md-6 mt-3">
        <h2 class="text-center">EDIT PHONE</h2>
        <div class="col md-6">
            {{ form_start (productForm) }}
            <div class="form-group">
                {{ form_label (productForm.name) }}
                {{ form_widget (productForm.name,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (productForm.price) }}
                {{ form_widget (productForm.price,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (productForm.quantity) }}
                {{ form_widget (productForm.quantity,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (productForm.category) }}
                {{ form_widget (productForm.category,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (productForm.status) }}
                {{ form_widget (productForm.status,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (productForm.orders) }}
                {{ form_widget (productForm.orders,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (productForm.vendors) }}
                {{ form_widget (productForm.vendors,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (productForm.picture) }}
                {{ form_widget (productForm.picture,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-gourp text-center mt-3">
                <input type="submit" class="btn btn-primary"></input>
            </div>
            {{ form_end (productForm) }}
        </div>
    </div>
{% endblock %}