{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted("ROLE_ADMIN") %}
		<div class="container-md col-md-8 mt-3 text-center">
			<a href="{{ path('product_add') }}">
				<img src="{{ asset('button/add.png') }}" width="200px" height="220px">
			</a>
		{% endif %}
		<div class="form-group col-md-4">
			<form action="{{path('search_product_by_name')}}" method="POST">
				<input type="search" name="name" required placeholder="Enter phone">
				<input type="submit" value="Search">
			</form>
		</div>
		{% if products == null %}
			<h4 class="text text-warning">No phone's found in the database</h4>
		{% else %}
			<table class="table table-responsive-md mt-3">
				<thead>
					<tr>
						<th>Phone Name</th>
						<th>Phone Price</th>
						<th>Picture</th>
						<th>Status</th>
						{% if is_granted("ROLE_ADMIN") %}
							<th>Actions</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ product.name }}</td>
							<td>{{ product.price }}</td>
							<td>
								<a href="{{ path('product_detail', {'id': product.id}) }}">
									<img src="{{ asset('product/'~product.picture) }}" width="100" height="120">
								</a>
							</td>
							<td>{{ product.status }}</td>
							{% if is_granted("ROLE_ADMIN") %}
								<td>
									<a class="text-decoration-none" href="{{ path('order_edit', {'id': order.id}) }}" style="margin-right:20px">
										<img src="{{ asset('button/edit.png') }}" width="50" height="50">
									</a>
									<a class="text-decoration-none" href="{{ path('order_delete', {'id': order.id}) }}" onclick="return confirm('Do you want to delete this?')">
										<img src="{{ asset('button/delete.png') }}" width="50" height="50">
									</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}
